.header
    a.header__logo(href='/')
        img.header__logo-img(src='/img/logo-green.png')
    ul.header__nav-list.flex-1.hide-on-mobile-tablet
        li.header__nav-item
            a.header__nav-link(href='/') HOME
        li.header__nav-item
            a.header__nav-link(href='/all-tours') ALL TOURS
        li.header__nav-item
            a.header__nav-link(href='/about-us') ABOUT US
        li.header__nav-item
            a.header__nav-link(href='#') MORE
            ul.header__subnav-list
                li
                    a.header__subnav-link(href='') NEWS
                li.header__subnav-item
                    a.header__subnav-link(href='') CONTACT
                li.header__subnav-item
                    a.header__subnav-link(href='') FAQ
        li.header__nav-item
            a.header__nav-link(href='/booking') BOOK NOW
    ul.header__nav-list.hide-on-mobile-tablet
        if user
            a.nav__el.nav__el--logout(href='#') Log out
            a.nav__el(href='/me')
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`${user.name} photo`)
                span= user.name.split(' ')[0]
        else
            li.header__nav-item
                a.header__nav-link(href='/login') LOG IN
            li.header__nav-item
                a.header__nav-link(href='#') SIGN UP
    // Navbar
    .navbar
        label.header__navbar-btn(for='navbar__input')
            img.header__navbar-icon(src='/assets/img/bars_icon.png')
        input#navbar__input.header__navbar-input(type='checkbox' hidden='')
        label.header__navbar-overlay(for='navbar__input')
        nav.header__navbar
            label.header__navbar-close(for='navbar__input')
                i.header__navbar-close-icon.far.fa-times-circle
            ul.header__navbar-list

                if user
                    a.nav__el(href='/me')
                        img.nav__user-img(src=`/img/users/${user.photo}` alt=`${user.name} photo`)
                        span= user.name.split(' ')[0]

                li.header__navbar-item
                    a.header__navbar-link(href='/') HOME
                li.header__navbar-item
                    a.header__navbar-link(href='/all-tours') ALL TOURS
                li.header__navbar-item
                    a.header__navbar-link(href='/about-us') ABOUT US
                li.header__navbar-item
                    a.header__navbar-link(href='') MORE
                    ul.header__navbar-sub-list
                        li.header__navbar-sub-item
                            a.header__navbar-sub-link(href='') News
                        li.header__navbar-sub-item
                            a.header__navbar-sub-link(href='') Contact
                        li.header__navbar-sub-item
                            a.header__navbar-sub-link(href='') FAQ
                li.header__navbar-item
                    a.header__navbar-link(href='/booking') BOOK NOW
                if !user
                    li.header__navbar-item
                        a.header__navbar-link(href='/login') LOG IN
                    li.header__navbar-item
                        a.header__navbar-link(href='') SIGN UP
                else
                    li.header__navbar-item
                        a.header__navbar-link.nav__el--logout2(href='#') Log out






//- header.header
//-     nav.nav.nav--tours
//-         a.nav__el(href='/') All tours
//-         form.nav__search
//-             button.nav__search-btn
//-                 svg
//-                     use(xlink:href='/img/icons.svg#icon-search')
//-             input.nav__search-input(type='text' placeholder='Search tours')
//-     .header__logo
//-         img(src='/img/logo-white.png' alt='Natours logo')
//-     nav.nav.nav--user
//-         if user
//-             a.nav__el.nav__el--logout(href='#') Log out
//-             a.nav__el(href='/me')
//-                 img.nav__user-img(src=`/img/users/${user.photo}` alt=`${user.name} photo`)
//-                 span= user.name.split(' ')[0]
//-         else
//-             a.nav__el(href='/login') Log in
//-             a.nav__el.nav__el--cta(href='#') Sign up